body{
    background-color: tomato;
    text-align: center;
    font-size: 10px;
    font-family: 'Pacifico', cursive;
    color: white;
    overflow: hidden;
    outline: none;

}

.container {
    position: absolute;
    outline: none;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: aquamarine;



}

#water {
    position: absolute;
    width: 100vw;
    height: 35vh;
    bottom: 0px;
    left: 0px;
    background-image: url("water.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    animation: water 5s infinite linear;
     
}

.leaf {
    position: absolute;
    width: 45%;
    height: 30vh;
    /* make this image horizontally as well as vertically center in parent div*/

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url("leaf.png");
    background-position: center;
    background-size: 110% 110%;
    /* add shadow to the leaf img not square*/
    filter: drop-shadow(0px 0px 5px rgb(0, 212, 81));
     
}

.bottom {
    position: absolute;
    width: 30%;
    height: 50vh;
    bottom: -20%;
    right: -12%;
     
    /* add shadow to the leaf img not square*/
    filter: drop-shadow(0px 0px 5px black);
    z-index: 7;
}

.destination-div {
    position: absolute;
    width: 100%;
    height: 35vh;
    filter: drop-shadow(0px 0px 5px black);
     
}

.bank {
    /*always attatched to water div as on its top and b/w bank and water there is no gap*/
    position: absolute;
    width: 100vw;
    height: 65vh;
    top: 0px;
    left: 0px;
    background-image: url("bank.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
     
    filter: drop-shadow(0px 0px 5px black);
    /* make sure that the bank is always on top of water*/
    z-index: 10;

    /*make div bottom section fades into water */

}

.source-count {
    position: absolute;
    display: flex;
    /*flex in bottom to top direction*/
    bottom: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;

}

.source-log {
    position: absolute;
    width: 40%;
    height: 40vh;
    /* make this div to at left bottom */
    bottom: 12px;
    left: 0%;
    transform: translate(0%, 0%);
    background: url("log.png");
    background-position: center;
    background-size: 110% 110%;
    /* add shadow to the leaf img not square*/
    filter: drop-shadow(0px 0px 5px black);
     
}

.source-div {
    position: relative;
    width: 15%;
    height: 15vh;
    margin: 0px;
    padding: -10%;
     
    background-image: url(1.png);
    background-position: center;
    background-size: 100% 100%;

}

.destination-count {
    position: absolute;
    display: flex;
    /*flex in bottom to top direction*/
    top: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;


}
.destination-div {
    position: relative;
    width: 15%;
    height: 15vh;
    margin: 0px;
    padding: -10%;
   
}
.destination-div img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    filter: drop-shadow(0px 0px 5px rgb(57, 112, 57));

     
}
.source-div img {
    position: absolute;
    width: 120%;
    height: 120%;
    top: 0px;
    left: 0px;
    filter: drop-shadow(0px 0px 5px rgb(57, 112, 57));

     
}

.banner {
    position: absolute;
    background-color: transparent;
     
    width: 100%;
    height: 50px;
    top: 15px;
    background: url("banner.png");
    z-index: 20;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 0px 5px black);
    border-radius: 30px;
     
}

.banner text {

    /* centerd text white 30px designer font */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: left;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: white;
    margin-left: 100px;
    text-shadow: 0px 0px 5px red;
     
}

.banner .score {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 100px;
    text-align: right;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: rgb(170, 0, 255);
    text-shadow: 0px 0px 5px white;
     
}

.banner .timer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    color: rgb(255, 0, 128);
    text-shadow: 0px 0px 5px white;
     
}

.control {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: left;
    padding: 4px;
     
}

.control .btn {
    position: relative;
    width: 75px;
    height: 75px;
    background-color: transparent;

    margin: 4px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 5px black);
    background: url("btn-bg.png");
    background-position: center;
    background-size: fill;

}

/* make the btn img to center of the btn*/
.control .btn img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;

     
}

/*on  click or touch make the control btn having ripple effect*/
.control .btn:active {
    animation: ripple 0.25s linear;
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.25);
        opacity: 0.25;
    }
}
.counting {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
    text-align: center;
    font-size: 30px;
    background-color: aliceblue;
    text-shadow: 0px 0px 5px white;
    z-index: 20;
}

/* now game engine */
.path-point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    z-index: 10;
  }
  .frog {
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    z-index: 25;
  }
/*
  @media (max-width: 525px), (max-height: 399px) {
    
    .container {
      display: none;
    }
    .control {
      display: none;
    }
}
*/
.nextnum{
    background: url("nextnum.png");
    background-position: center;
    background-size: 100% 100%;
    position: absolute;
    height: 150px;
    width: 190px;   
    bottom: 0px;
    right: 0px;
    color: rgb(253, 0, 148);
    font-size: 75px;
    font-family: 'roboto', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 5px white;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 5px rgb(250, 1, 113));
    /*make inside text vertically as well horizontly at  center*/
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*make the text inside the div to be in center*/
 


}